<div class="center jumbotron">
  <h1>Welcome to the Tweeter</h1>

  <h2>
    This is the home page for Tweeter</a>
     application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

